/* Default styles that apply at all sizes */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}

.logo img {
  max-height: 125px; /* Adjust based on your design */
  cursor: pointer;
  width: auto; /* Maintain aspect ratio */
}

.navItems {
  list-style: none;
  display: flex; /* Ensure it is always flex unless otherwise specified in a media query */
  margin: 0;
  padding: 0;
  justify-content: center; /* Align items in the center for larger screens */
  align-items: center; /* Center items vertically */
}

.navItem a {
  color: black;
  text-decoration: none;
  margin-left: 20px; /* Space between items */
  transition: margin 0.3s ease;
}

.navItem a {
  color: black;
  text-decoration: none;
  display: block; /* Makes the entire area clickable */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.navToggle {
  display: none; /* Hidden by default */
  cursor: pointer;
  background: none;
  border: none;
  font-size: 32px; /* Large size for easy clicking on mobile */
}

/* Adjustments for small screens */
@media (max-width: 935px) {
  .navToggle {
    display: block; /* Only show toggle button on small screens */
  }

  .navItems {
    display: none; /* Hide by default on small screens, shown only when toggle is activated */
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 125px; /* Align it directly below the navbar */
    left: 0;
    background-color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding-bottom: 10px;
  }

  .navItems.show {
    display: flex;
  }

  .navItem a {
    padding: 10px 0; /* Adds padding above and below the content of the anchor */
  }
}



@media (max-width: 767px) {
  .logo img {
    max-height: 80px; /* Smaller height for smaller screens */
  }

  .navItems {
    top: 80px;
  }

}


  