/* PartnershipSection.module.css */

.partnershipSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 75px;
    padding-bottom: 75px;
    width: 100%; 
}

/* This container centers content and restricts its max width */
.contentContainer {
    display: flex;
    justify-content: space-between; /* Adjust based on your layout needs */
    align-items: center;
    max-width: 1100px; /* Content won't expand beyond this width */
    width: 75%; /* Ensures it takes up available width up to the max */
 
 /* Centers the container */
}

.textContent, .logoContainer {
    flex: 1; /* Adjust this based on your layout needs */
    color: #ffffff;;
}

.textContent h2, .textContent p, .logo {
    max-width: 100%; /* Ensures contents don't overflow their container */
    margin: 0 0 20px 0;
    padding-right: 40px;
}

.logo {
    padding-left: 40px; /* Adjust based on your design */
    height: auto; /* Keeps the logo aspect ratio intact */
}

@media (max-width: 1440px) {
    .contentContainer {
        min-width: 1000px;
    }
    .partnershipSection {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        padding-top: 75px;
        padding-bottom: 75px
      }
      
      .textContent, .logoContainer {
        flex: 1; /* Each takes up equal space */
        max-width: 50%; /* Explicitly define max-width for clarity */
      }
      
      .textContent h2, .textContent p {
        margin: 0 0 20px 0;
        
      }
      
      .logo {
        max-width: 100%; /* Ensures the logo is responsive and doesn't exceed its container */
        height: auto;
        padding-left: 20px;
      }
    
}
@media (max-width: 1440px) {
    .contentContainer {
        min-width: 500px;
    }
}
  /* Adjust for responsiveness */
  @media (max-width: 768px) {
    .partnershipSection {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .contentContainer {
        min-width: 200px;
    }
    .textContent h2, .textContent p {
      padding-right: 0px;
    }
  
    .textContent {
      display: flex; /* Make textContent a flex container */
      flex-direction: column; /* Stack children vertically */
      align-items: center; /* Center children horizontally */
      justify-content: center; /* Center children vertically, if needed */
      max-width: 100%;
      text-align: center;
      
      
    }
    
    .logo, .logoContainer {
        display: none;
      }

    .logoContainer {
      margin-top: 20px; /* Add some space between the text and logo on smaller screens */
    }
    .partnerButton {
      max-width: 50%; /* Allows the button to size according to its content */
      margin: 0; /* Resets any default margin */
    
    }
  }

  /* Assuming you have these styles within your CSS module */
.partnerButton {
  background-color: white; /* White background */
  color: #333; /* Dark text color */
  border: 2px solid #333; /* Dark border */
  padding: 10px 20px; /* Adjust padding to your preference */
  font-weight: bold; /* Makes the text bold */
  cursor: pointer; /* Changes cursor to pointer on hover */
  display: flex; /* Aligns text and icon side by side */
  align-items: center; /* Centers items vertically */
  justify-content: center; /* Centers content horizontally */
  gap: 132px; /* Spaces between the text and the icon */
  border-radius: 20px; /* Rounded corners for the button */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.partnerButton:hover {
  background-color: #f2f2f2; /* Slightly darker background on hover */
}

.arrowIcon {
  display: inline-flex; /* Use flexbox for alignment */
  align-items: center; /* Center the arrow icon vertically */
  justify-content: center; /* Center the arrow icon horizontally */
  width: 20px; /* Circle width */
  height: 20px; /* Circle height */
  background-color: #333; /* Circle background color */
  color: white; /* Arrow color */
  border-radius: 50%; /* Makes the circle rounded */
  font-size: 14px; /* Adjust the arrow size */
}

@media (max-width: 865px) {
  .partnerButton {
    gap: 66px
  }
}
  