/* components/Services.module.css */
.servicesContainer {
    position: relative;
    overflow: hidden;
    font-size: 3em;
    background-color: rgb(12, 27, 35); 
  }
  
  .servicesSection h2 {
    margin-top: 20px;
    margin-bottom: 10px; 
    font-size: 3rem;
    color: white;
    text-align: center;
  }
  
  .vShape {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px; 
    background-color: transparent; 
    clip-path: polygon(50% 100%, 0 0, 100% 0); 
  }
  
  .bgColor {
    position: absolute;
    bottom: -1px; 
    left: 0;
    right: 0;
    height: 50px; 
    background-color: rgb(12, 27, 35); 
    z-index: -1; 
  }
   
  .cardsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0; 
  }
  
  .card {
    position: relative; 
    width: 250px; 
    height: 350px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin: 15px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    border-radius: 8px; 
    overflow: hidden; 
  }

/* For viewports between 1119px and 768px */
@media (min-width: 840px) and (max-width: 1119px) {
    .cardsContainer {
        display:grid;
        grid-template-columns: 280px 280px;
        justify-items: center;
        justify-content: center;
      }
  
    .card {
      width: 250px; 
      height: 350px; 
      margin: 15px; 
    }
    .servicesSection h2 {
        font-size: 3rem;
      }
  }

  @media (min-width: 768px) and (max-width: 839px) {
    .servicesSection h2 {
        font-size: 3rem;
      }
  }

  @media (max-width: 768px) {
    .cardsContainer {
      display: flex;
      flex-direction: column;
      align-items: normal;
    }
    
    .card {
      width: 95%;
      margin-bottom: 20px;
    }

    .servicesSection h2 {
        font-size: 2.5rem;
      }
      .card .cardTitle, .card .cardDescription, .card .cardLink {
        transform: translateY(0); 
        opacity: 1; 
        visibility: visible; 
        transition: none; 
    }
  }

  @media (max-width: 550px) {
    .cardsContainer {
      padding-right: 5px;
    }
  }

  @media (max-width: 550px) {
    .cardsContainer {
      padding-right: 5px;
    }
  }

  @media (max-width: 440px) {
    .cardsContainer {
      padding-right: 10px;
    }
  }


  .cardContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    padding: 15px;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    overflow: hidden; 
}

.cardTitle {
    margin: 0;
    font-size: 1.5rem;
    transform: translateY(115%); 
    transition: transform 0.5s ease; 
    padding-bottom: 10px;
}

.cardDescription, .cardLink {
    font-size: 1rem;
    transform: translateY(100%); 
    opacity: 0; 
    transition: transform 0.5s ease, opacity 0.5s ease; 
}

.card:hover .cardTitle, .card:hover .cardDescription, .card:hover .cardLink {
    transform: translateY(0%); 
    opacity: 1;
}

  
  .cardDescription {
    margin: 0;
    padding-bottom: 10px; 
    font-size: 1rem;
  }
  
  .cardLink {
    font-size: .9rem;
    color: white; 
    text-decoration: underline; 
    font-weight: normal; 
    padding: 0; 
    background-color: transparent; 

  }
    /* Hover effect */
  .cardLink:hover {
    color: #ACE; 
    text-decoration: none;
 }

 .hiddenTitle {
  display: none;
}
  